body{
	background-color:#0066FF;
}
/*header styling*/

#header{
	text-align:center;
}
#header h1{
	font-family:"Script MT Bold",cursive;
	font-size:450%;
	margin-top:0;
}
#header h2{
	margin-top:-4%;
}
#header h3{
	margin-top:-1%;
}
	
/*end of header styling*/
		
/*home (center div) styling*/
		
#homeCenter{
	margin-left:auto;
	margin-right:auto;
	margin-top:2%;
	width:75%;
	height:90%;
	border:1px solid black;
	background-color:white;
}
/*navigation Bar styling*/
#navigationBar{
	width:100%;
	height:15%;
	margin-top:0;
	position:relative;
	text-align:center;
	color:black;
	padding-bottom:1%;
}
ul{
	text-decoration:none;
	text-transform:uppercase;
	font-weight:bold;
	margin-bottom:0;
}
li{
	display:inline-block;
}

li:hover{
	cursor:pointer;
	color:blue;
}
.otherLI{
	margin-left:3%;
}
#homeInfo{
	padding-left:4%;	
	width:60%;
	text-align:justify;
}
.infoBox{
	position:relative; 
	background-color:blue; 
	left:20%; 
	height:30%; 
	width:30%; 
	display:inline-block;
}

.infoBoxHeader{
	margin:10px; 
	color:red; 
}

/*end of home (center div) styling*/

/*footer styling*/

#footer{
	
	background-color:blue;
	position:absolute;
	left:0;
	bottom:0; 
	width:100%;
	text-align:center;
}
.otherp{
	margin-top:-1.5%;
}

/*end of footer styling*/

