body{
	background-color:#0066FF;
}
		
/*home (center div) styling*/
		
#homeCenter{
	margin-left:auto;
	margin-right:auto;
	width:75%;
	height:90%;
	border:1px solid black;
	background-color:white;
}
/*navigation Bar styling*/
#navigationBar{
	width:100%;
	height:15%;
	margin-top:0;
	position:relative;
	text-align:center;
	color:black;
	padding-bottom:1%;
}
ul{
	text-decoration:none;
	text-transform:uppercase;
	font-weight:bold;
	margin-bottom:0;
}
li{
	display:inline-block;
}

li:hover{
	cursor:pointer;
	border-bottom:2px solid #0066FF;
}
.otherLI{
	margin-left:3%;
}
#homeInfo{
	padding-left:4%;	
	width:60%;
	text-align:justify;
<<<<<<< HEAD:dmhcs.css
}
=======
}
.infoBox{
	position:relative; 
	left:20%; 
	size:50px; 
}

.infoBoxHeader{
	margin:10px; 
	background-color:blue; 
	color:red; 
}

#servicesp{
	
	color:red; 
}
>>>>>>> origin/Keon's-branch:css/dmhcs.css
